$bodyTextColor : white;
$bodyTinyTextColor : black;
$bodyFont: "Courier";
$bodySubTextFont : "Courier New";
$bodyTextSize : 25px;
$bodyTextSizeMobile : 22px;
$bodySubTextFontSize : 16px;

#hiddenTextFunnySub  {
    animation: cssAnimation 0s 0.5s forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
#hiddenTextFunnySub2  {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s; 
}

@keyframes cssAnimation {
  to   { opacity: 1; }
}

#mobile {
    display: none;
}

.mainBody, .mainBodyMobile {
    overflow-y: auto;
    min-height: 65vh;
    text-align: right;
    color: $bodyTextColor;
    margin-top: 20vh;
    font-family: $bodyFont;
    background-color: none; 
}

.mainBodyMobile  {
    margin-top: 5vh;
    min-height: 85vh;
}

.mainText, .mainTextMobile {
    font-size: 100px;
    font-weight: bold;
}

.mainTextMobile {
    font-size: 80px;
}
.text, .textHidden, .strikethroughtextHidden, textMobile , .strikethroughtextMobileHidden {
    font-size: $bodySubTextFontSize;
    font-family: $bodySubTextFont;
}

.text , .strikethroughtextHidden{
    font-size: $bodyTextSize;
    display: block;
}

.textMobile , .strikethroughtextMobileHidden {
    font-size: $bodyTextSizeMobile;
    display: block;
}

.strikethroughtextHidden, .strikethroughtextMobileHidden {
    text-decoration: line-through;
}

.tinyText, .tinyTextMobile {
    font-size: 11px;
    font-family: "Courier New";
    font-weight: bold;
    opacity: 0.15;
    color: $bodyTinyTextColor;
    margin-top: -4vh;
    margin-bottom: 10vh;
    padding-right: 12vh;
}

.poweredByText {
    font-size: 10px;
    font-family: Tahoma;
    font-weight: bold;
    opacity: 50%;    
    color: black;
    text-align: center;
}


.tinyTextMobile {
    margin-bottom: 4vh;
    padding-left: 5vh;
    padding-right: 0;
}

.mx-auto {
    text-align: center;
}
.textHidden {
    display: none;
}

.strikethroughtextHidden, .strikethroughtextMobileHidden {
    display: none;
}

.imgIcons {
    opacity: "90%";
}           

