//variables
$backgroundColor : #FD1600;

footer {
    background-color: none;
}

.footerMobile {
    background-color: $backgroundColor;
}

.imgIcons {
    opacity: 0.9;
}        

.poweredByText {
    font-size: 10px;
    font-family: Tahoma;
    font-weight: bold;
    opacity: 0.5;    
    color: black;
    text-align: center;
}